.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3rem;
  display: block;
  cursor: pointer;
}

.calendar-header {
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}

.calendar-header > .calendar-main {
  width: 3600px;

  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 25px;
  position: relative;
  left: 0;
}

.calendar-header > .calendar-main > .calendar-item {
  width: 1200px;
  /* border: 1px solid black; */
  border-radius: 25px;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.calendar-header > .calendar-main > .calendar-item > .item-header {
  width: 999.59px;
  height: 115.28px;
  display: flex;
  margin: 30px auto;
  color: black;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
}

.calendar-header > .calendar-main > .calendar-item > .item-header > .show {
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.calendar-header > .calendar-main > .calendar-item > .item-header > label {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > label
  > .material-symbols-outlined {
  font-size: 3rem;
  display: block;
  cursor: pointer;
}

.calendar-header > .calendar-main > .calendar-item > .month-middle {
  display: flex;
  margin: 50px auto;
  gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-description {
  /* border: 1px solid; */
  width: 450px;
  height: 620px;
  background-color: rgb(251, 244, 228);
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-description
  > img {
  width: 382.52px;
  height: 606.44px;
  border-radius: 20px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week {
  border-spacing: 0;
  border-collapse: collapse;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td {
  width: 119px;
  height: 100px;
  background-color: white;
  font-size: 13px;
  vertical-align: top;
  padding: 5px;
  /* border: 1px black solid; */
  color: black;
  border: 1px solid rgba(94, 93, 93, 0.2);
  font-weight: 600;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .pig > p {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
  color: white;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .pig > span {
  margin-top: 3px;
}

.pig {
  display: flex;
  height: 30px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .chickenbreast > p {
  background-color: rgb(236, 230, 130);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .chickenbreast > span {
  margin-top: 3px;
}

.chickenbreast {
  display: flex;
  height: 30px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .salad > p {
  background-color: rgb(45, 228, 42);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .salad > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .strawberry > p {
  background-color: rgb(245, 62, 48);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .strawberry > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .fish > p {
  background-color: rgb(55, 48, 245);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .fish > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .fish-1 > p {
  background-color: rgb(182, 180, 236);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .fish-1 > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .monkfish > p {
  background-color: rgb(183, 142, 231);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .monkfish > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .fish-2 > p {
  background-color: rgb(241, 192, 229);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .fish-2 > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .octopus > p {
  background-color: rgb(231, 115, 115);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .octopus > span {
  margin-top: 3px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .crab > p {
  background-color: rgb(217, 15, 15);
  width: 100%;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 0;
  border-radius: 15px;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
td > .crab > span {
  margin-top: 3px;
}

.monkfish {
  display: flex;
  height: 30px;
}

.crab {
  display: flex;
  height: 30px;
}

.octopus {
  display: flex;
  height: 30px;
}

.fish-1 {
  display: flex;
  height: 30px;
}

.fish-2 {
  display: flex;
  height: 30px;
}

.salad {
  display: flex;
  height: 30px;
}

.fish {
  display: flex;
  height: 30px;
}

.pig {
  display: flex;
  height: 30px;
}

.strawberry {
  display: flex;
  height: 30px;
}

tr.week td {
  height: 20px !important;
}

.next-month {
  opacity: 0.5;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
.text-color {
  color: blue;
}

.calendar-header
  > .calendar-main
  > .calendar-item
  > .month-middle
  > .month-week
  > tr,
.text-color-2 {
  color: red;
}

.calendar-header > input[type="radio"] {
  display: none;
}

.calendar-header > input[type="radio"]#after-month-1:checked ~ .calendar-main {
  left: -1200px;
}

.calendar-header > input[type="radio"]#after-month-2:checked ~ .calendar-main {
  left: -2400px;
}

.calendar-header > input[type="radio"]#befor-month-2:checked ~ .calendar-main {
  left: -1200px;
}

.calendar-header > input[type="radio"]#befor-month-1:checked ~ .calendar-main {
  left: 0px;
}
